/* Selector Universal */
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector id */
#fondo {
    background-color: rgb(58, 58, 154);
}

#cabecera {
    background-color: rgb(0, 0, 130);
    margin: auto;
}

#barraNavegacion {
    background-color: rgb(66, 66, 177);
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px){
    #barraNavegacion {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

#barraNavegacion a {
    font-size: medium;
    color: white;
    text-decoration: none;
    padding: 1em;
}

#barraNavegacion a:hover {
    background-color: rgb(104, 104, 207);
    color: black;
}

#contenido {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
}

#piePagina {
    background-color: rgb(183, 183, 183);
    margin: 1em auto;
}

/* Selector de clase */
.encabezadoPagina {
    color: white;
    text-align: center;
    padding: 50px;
}

.encabezadoContenido {
    padding: 10px;
    background-color: rgb(148, 136, 3);
    width: 85%;
    text-align: center;
}

.encabezado {
    font-size:large;
    color: white;
}

.articulo{
    padding: 5px;
    margin: 1em;
}

.texto {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: large;
}

.pie {
    padding: 15px;
    text-align: center;
}

.marco {
    text-align: center;
    padding: 5px;
    padding-top: 25px;
    flex-direction: column;
}

.marco img {
    width: 300px;
    border: 1px solid black;
}

#marcoProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10em;
    row-gap: 3em;
    margin: 3em 0;
}

@media (max-width: 912px) {
    #marcoProductos {
        display: block;
        margin: 3em 0;
    }
    
    .imagenes {
        text-align: center;
        margin: 3em 0;
    }
}

#contenedor-formulario h3{
    text-align: center;
    font-size: 2em;
}

#contenedor-formulario{
    margin-top: 5em;
}

#formulario {
    background-color: rgb(53, 53, 202);
    width: min( 50em, 100% );
    margin: 1em auto;
    border-radius: .8em;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#formulario fieldset {
    border: none;
}

#formulario legend {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    color: whitesmoke;
}

.boton {
    background-color: rgb(58, 58, 154);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
    border: 1px solid white;
}

.boton:hover {
    background-color: rgb(166, 166, 223);
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

#contenedor-boton {
    text-align: end;
    margin-right: 2em;
}

.imagenes {
    text-align: center;
}

.producto {
    margin-bottom: 1.2em;
}

.jersey {
    font-style: italic;
    margin-bottom: 0.5em;
}

.precio {
    font-weight: bold;
    margin-top: 0.5em;
}

.imagenes a {
    background-color: rgb(58, 58, 154);
    padding: 1em;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.imagenes a:hover {
    background-color: rgb(166, 166, 223);
    color: black;
}

.marcoProductos img{
    border: 2px solid black;
}

.marcoProductos small{
    font-size: medium;
}

.imagen {
    height: 220px;
    width: 200px;
    border: 1px solid black;
}

.contacto {
    padding: 5em;
}

.formulario {
    padding-top: 15px;
}

.campo {
    margin: 1em 2em 0 2em;
}

.campo textarea{
    width: 100%;
    height: 10em;
    resize: vertical;
    border: none;
    border-radius: .3em;    
}

.input-text {
    height: 2em;
    width: 100%;
    border: none;
    border-radius: .3em;
    padding-left: 0.3em;
}

.campo label {
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
}

.campo h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
}

/* Selector de etiqueta */
ul{
    text-align: center;
    padding: 15px;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}