/* Selector Universal */
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector id */
#fondo {
    background-color: rgb(58, 58, 154);
}

#cabecera {
    background-color: rgb(0, 0, 130);
    margin: auto;
}

#btnDesconectar {
    background-color: rgb(66, 66, 177);
    text-decoration: none;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;
}

#barraNavegacion {
    background-color: rgb(66, 66, 177);
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px){
    #barraNavegacion {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

#barraNavegacion h2 {
    font-size: medium;
    color: white;
    text-decoration: none;
    padding: 1em;
}

#btnDesconectar:hover {
    background-color: rgb(104, 104, 207);
    color: black;
}

#barraNavegacion a:hover {
    background-color: rgb(104, 104, 207);
    color: black;
}

#contenido {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
}

#piePagina {
    background-color: rgb(183, 183, 183);
    margin: 1em auto;
}

/* Selector de clase */
.encabezadoPagina {
    color: white;
    text-align: center;
    padding: 50px;
}

@media (max-width: 767px){
    .encabezadoPagina {
        color: white;
        text-align: center;
        padding: 25px;
        font-size: medium;
    }

}

.encabezadoContenido {
    padding: 10px;
    background-color: rgb(148, 136, 3);
    width: 85%;
    text-align: center;
}

.encabezado {
    font-size:large;
    color: white;
}

.texto {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: large;
}

.pie {
    padding: 15px;
    text-align: center;
}

#formulario {
    background-color: rgb(113, 113, 222);
    width: min( 25em, 100% );
    height: 25em;
    margin: 1em auto;
    border-radius: .8em;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#formulario fieldset {
    border: none;
}

#formulario legend {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    color: whitesmoke;
}

.boton {
    background-color: rgb(58, 58, 154);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: .3em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
    border: 1px solid white;
}

.boton:hover {
    background-color: rgb(166, 166, 223);
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

#contenedor-boton {
    text-align: center;
    margin-right: 2em;
}

.formulario {
    padding-top: 15px;
}

#campo {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 2em 0 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#titulo {
    font-size: 1.5em;
    font-style: italic;
}

#campo label {
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
}

.input-text {
    height: 2em;
    width: 100%;
    border: none;
    border-radius: .3em;
    padding-left: 0.3em;
}

.input-file {
    background-color: rgb(58, 58, 154);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    padding: 0.3em;
    border-radius: .2em;
    margin: 1em 0 2em 0;
    border: 1px solid white;
    width: 60%;
}